.banner {
  padding-top: 99px;
}

.logo-primary {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--default-white, #fff);
  border-radius: var(--spacer-16, 16px);
  box-shadow: 0 4px 12px 0 rgba(163, 180, 203, 0.2);

  .logo-number {
    width: 40px;
    height: 40px;
    font-weight: 900;
    @include media-breakpoint-up(lg) {
      width: 50px;
      height: 50px;
    }
  }
}

.marquee {
  padding: 10px 0;
  font-size: 40px;
  animation: marquee 15s linear infinite;
  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
    transform: translateX(0);
  }
  100% {
    left: 0;
    transform: translateX(-100%);
  }
}

.advocate-subtitle {
  font-size: 24px;
  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }
}

.advocate-text {
  font-size: 16px;
  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

.sub-title {
  font-size: 52px;
  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }
}

.img-event {
  width: 100%;
  height: 241px;
  @include media-breakpoint-up(md) {
    width: 100%;
    height: 443px;
  }
  @include media-breakpoint-up(lg) {
    width: 648px;
    height: 407px;
  }
  &-list {
    width: 109px;
    height: 128px;
    @include media-breakpoint-up(md) {
      width: 109px;
      height: 104px;
    }
    @include media-breakpoint-up(lg) {
      width: 201px;
      height: 134px;
    }
  }
}

.event-date {
  font-size: 14px;
}

.event-box {
  width: calc(100% - 109px);
  @include media-breakpoint-up(md) {
    width: calc(100% - 109px);
  }
  @include media-breakpoint-up(lg) {
    width: calc(100% - 201px);
  }
  &-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin arrow-template($fill) {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  fill: $fill;
}

.arrow-forward-icon {
  @include arrow-template(#fff);
}

.donate-arrow-forward-icon {
  @include arrow-template(#334155);
}

swiper-slide {
  width: 331px;
  @include media-breakpoint-up(md) {
    width: 700px;
  }
  @include media-breakpoint-up(lg) {
    width: 792px;
  }
}
