.banner {
  padding-top: 99px;
}

.logo-primary {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--default-white, #fff);
  border-radius: var(--spacer-16, 16px);
  box-shadow: 0 4px 12px 0 rgba(163, 180, 203, 0.2);

  .logo-number {
    width: 50px;
    height: 50px;
    font-weight: 900;
  }
}

.marquee {
  padding: 10px 0;
  font-size: 40px;
  animation: marquee 15s linear infinite;
  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
    transform: translateX(0);
  }
  100% {
    left: 0;
    transform: translateX(-100%);
  }
}

.advocate-subtitle {
  font-size: 24px;
  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }
}

.advocate-text {
  font-size: 16px;
  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

.sub-title {
  font-size: 52px;
  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }
}
