.footer-content-box {
  width: 676px;
}

.footer-number-logo {
  width: 42px;
  height: 42px;
  font-size: 1.75rem;
  font-weight: 900;
}

.footer-icon {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

.fz-copyright {
  font-size: 14px;
}
