//* 主要字體
.font-en {
  font-family: Inter, sans-serif;
}
.font-tw {
  font-family: "Noto Sans TC", sans-serif;
}

//* 饅頭黑體 https://github.com/mant0u0/MantouSans
.font-mantou {
  font-family: "Mantou Sans", sans-serif;
}

//* 背景色
.bg-primary-gradient {
  background: linear-gradient(90deg, #e5793b 1.54%, #ff4185 97.86%);
}

.bg-theme-2 {
  background-color: #f7ece1;
}

//* background-clip
.text-clip {
  color: transparent;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  background-clip: text;
}

.fz-64 {
  font-size: 64px;
}

.mlh-slogan {
  font-size: 52px;
  @include media-breakpoint-up(lg) {
    font-size: 96px;
  }
}

.mlh-mainchar {
  font-size: 28px;
  @include media-breakpoint-up(lg) {
    font-size: 40px;
  }
}

.mlh-job {
  font-size: 20px;
  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }
}

.lh-105 {
  line-height: 105%;
}
