@mixin bullet($opacity) {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #da7d4a;
  border-radius: 500px;
  opacity: $opacity;
}

swiper-container {
  width: 100%;
  height: auto;
}

.swiper-pagination {
  &-bullet {
    @include bullet(0.4);
  }
  &-bullet-active {
    @include bullet(1);
  }
}

swiper-slide {
  padding-bottom: 40px;
}

.policy-tag {
  &[title="喵的保障"] {
    background-color: #f7ece1;
  }
  &[title="喵的教育"] {
    background-color: #fdd;
  }
  &[title="喵的福利"] {
    background-color: #beeadb;
  }
}
